* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body{
  background: #f0ECfF
}

.pofile-pics{
  height: 40px;
} 

h6{
  color: rgb(121, 116, 116);
}

 .post-card {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeUp 0.5s ease forwards;
}

@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.navbar .nav-link {
  color: black;
}
.navbar .nav-link.active {
  color: black;
  font-weight: bold;
}

.success-massege {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 2000;
  margin: 16px;
  width: 500px;
}